extends layout

block content
  h1
    a.default(href="/") 秘書たんPDFうpろだー
  h3 秘書たんにリマインドしてほしいPDFファイルをアップロードします
  h4.mess !{mess}
  div
    ul
      h4 Notice
      li
        秘書たんと秘書契約してないと使えません
        a(href="http://otiai10.com/hisyotan/") 詳しくはここ
      li
        a(href="http://e-words.jp/w/OCR.html") OCR処理
        されたPDFしか受け取れません
  form(action="/upload",method="POST", enctype="multipart/form-data")
    ul
      h4 Form
      li Twitter名: @
        input(type="text", name="user", required="true")
      li
        ファイル:
        input(type="file", name="file", required="true")
      li
        input(type="submit", value="UPLOAD")
