doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon', href='http://otiai10.com/public/src/favicon.jpg')
  body
    block content
