[twitter.consumer]
    key = "xxxxxxxxxxxxxxxxxxxxxx"
    secret = "xxxxxxxxxxxxxxxxxxxx"
[twitter.bot]
    screen_name = "hisyotan"
    user_id = "971441053"
    access_token = "xxxxxxxxxxxxxxxxxx"
    access_token_secret = "xxxxxxxxxxxxxxxxxxxx"
[mongodb]
    address = "mongodb://localhost:27017"
    database = "hisyotan"
